<main class="container">
        <h1 class="display-1 text-center">Enquiry</h1>

        <fieldset>
                <legend>Product Detais</legend>
                <div class="form-row">
                        <div class="form-group col-md-4">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control" name="productName" id="productName">
                        </div>
                        <div class="form-group col-md-4">
                                <label for="productQuestion">Question</label>
                                <input type="text" class="form-control" name="productQuestion" id="productQuestion">
                        </div>
                </div>
        </fieldset>
        <fieldset>
                <legend>Customer Detais</legend>
                <div class="form-row ">
                        <div class="form-group col-md-4">

                                <label for="customerName">First name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName">

                        </div>
                        <div class="form-group col-md-4">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName">
                        </div>
                </div>
        </fieldset>
        <div class="form-row">
                <legend>Contact Details</legend>
                <div class="form-group col-md-4">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control">
                </div>
                <div class="form-group col-md-4">
                        <label for="contactNo">Contact Number</label>
                        <input type="number" id="contactNo" class="form-control">
                </div>
        </div>
        <div><button>submit</button></div>
        <!-- <button id="intermediate" ">submit</button> -->
        

        <hr>
        <p class="container" id="dataOut"></p>
</main>