<main class="container">
        <div class="row my-4 bg-light">
                <div class="col md-4">
                        <img src="../../assets/img/monarch.png" alt="">
                </div>
                <div class="col md-4">
                        <h4>Abous Us</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis eius
                                quaerat ipsa iure placeat sed ex deleniti debitis. Ex deserunt odit
                                dignissimos quasi numquam blanditiis assumenda hic illum nihil quae
                                impedit sint, labore consectetur corporis ipsam est deleniti dolore!
                                Explicabo id accusamus obcaecati illum sunt delectus, fugit soluta
                                totam. Dignissimos perspiciatis qui sequi, facere nemo quidem commodi,
                                eum magni, repudiandae rerum odit maiores velit in vel totam excepturi
                                optio eius!</p>
                </div>
        </div>
        <hr>
        <div class="row my-4 bg-light">
                <div class="col md4">
                        <h4>Our Goals</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vitae aspernatur
                                delectus reprehenderit similique sed saepe autem. Autem tempore tenetur,
                                ducimus quibusdam error expedita assumenda accusamus nesciunt ipsum
                                consequuntur fuga nisi nobis alias nulla in odio vitae et nemo libero
                                reiciendis, dolor repellat excepturi perspiciatis dolorem? Excepturi
                                natus doloribus exercitationem vero consequatur aut quo dolorem
                                reprehenderit laudantium repellat possimus ex sint molestiae repudiandae
                                ratione earum esse, amet veritatis temporibus dignissimos iusto harum
                                inventore aspernatur. Quos excepturi voluptas earum ratione vitae
                                impedit fugiat, quae iure, iusto ipsum quibusdam consectetur aspernatur
                                ab?</p>


                </div>
                <div class="col md4">
                        <img src="../../assets/img/monarch.png" alt="">
                </div>
        </div>
        <div class="row my-4 py-2 bg-light border mar">
                <div class="col">
                        <img src="../../assets/img/downloadbdu.jpeg" alt="" width="800px" height="240rem">
                </div>
                <div class="col ">
                        <h4><ins><strong>Contact Us</strong></ins> </h4>
                        <p>some address here</p>
                        <p>some here too</p>
                        <p>some more here</p>
                        <p>mobile no-1234567890</p>
                        <p>email:-abc@xyz.com</p>
                </div>

        </div>
</main>