<div class="main">
  <h2 style="color: royalblue">heading</h2>
  <app-date></app-date>
  <h4>Lorem ipsum dolor sit amet.</h4>
  
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam aliquam incidunt fugit quos eligendi vero,
    consequuntur placeat id vel eius quibusdam libero pariatur, officiis aliquid blanditiis tempora! Tempore eveniet
    ipsa blanditiis est asperiores ab? Vitae voluptatem incidunt impedit quam, aliquam hic laboriosam cum saepe ducimus
    numquam, eos corporis mollitia iste voluptate! Debitis et consectetur, inventore dolorem suscipit pariatur mollitia
    tenetur blanditiis molestias recusandae, architecto excepturi sequi tempora, animi cupiditate obcaecati! Eos iusto
    molestiae, laudantium quisquam deserunt itaque corrupti quia obcaecati sit pariatur commodi vitae? Dolores laborum
    tenetur, suscipit eligendi voluptates eius iure consectetur possimus alias, consequatur, maxime voluptate! Esse sit
    quas expedita consequatur est! Ex, ipsam, eius, reprehenderit consectetur nesciunt unde dolor neque nobis modi
    voluptas quia quis? Explicabo quasi reprehenderit quas omnis natus totam voluptas soluta. Blanditiis eligendi, earum
    obcaecati atque error distinctio eveniet asperiores delectus alias provident sint molestiae laborum nihil amet,
    tempore corrupti soluta. Placeat, iusto aliquid!</p>
    <app-hello-world></app-hello-world>
    <app-helloworld2></app-helloworld2>

</div>
