<main class="container">
        <h1 class="display-1 text-center bg-light">Product Page</h1>
        <!-- carousal starts -->
        <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                                <div class="carousel-item active">
                                        <img src="../../assets/img/download.jpeg" class="d-block w-100" alt=img/download1.jpeg> <div
                                                class="carousel-caption d-none d-md-block text-info">
                                        <h5>First slide label</h5>
                                        <p>Nulla vitae elit libero, a pharetra augue mollis
                                                interdum.</p>
                                </div>
                        </div>
                        <div class="carousel-item">
                                <a href="#">
                                        <img src="img/download.jpeg" class="d-block w-100" alt=img/download1.jpeg> <div
                                                class="carousel-caption d-none d-md-block text-info">
                                        <h5>Second slide label</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit.</p>
                        </div>
                        </a>
                </div>
                <div class="carousel-item">
                        <a href="#">
                                <img src="img/download.jpeg" class="d-block w-100" alt=img/download1.jpeg> <div
                                        class="carousel-caption d-none d-md-block text-info">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit.</p>
                </div>
                </a>
        </div>
        <div class="carousel-item">
                <a href="#">
                        <img src="img/download.jpeg" class="d-block w-100" alt=img/download1.jpeg> <div
                                class="carousel-caption d-none d-md-block text-info">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
        </div>
        </a>
        </div>
        <div class="carousel-item">
                <a href="#">
                        <img src="img/download.jpeg" class="d-block w-100" alt=img/download1.jpeg> <div
                                class="carousel-caption d-none d-md-block text-info">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</p>
        </div>
        </a>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
        </a>
        </div>
        </div>
        </div>
        <!-- carousal ends -->
        <article>
                <h3>Our Products</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quo hic, tempora odit nostrum in!</p>
        </article>
        <!-- cards start -->
        <hr>
        <div class="row">
                <div class="col-sm">
                        <div class="card" style="width: 20rem;">
                                <img src="../../assets/img/download1.jpeg" class="card-img-top" alt=img/download1.jpeg> <div
                                        class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on
                                        the card title and make up the bulk of the
                                        card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        </div>
        <hr>

        <div class="row">
                <div class="col-sm">
                        <div class="card" style="width: 20rem;">
                                <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div
                                        class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on
                                        the card title and make up the bulk of the
                                        card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-sm">
                        <div class="card" style="width: 20rem;">
                                <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div
                                        class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on
                                        the card title and make up the bulk of the
                                        card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-sm">
                        <div class="card" style="width: 20rem;">
                                <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div
                                        class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on
                                        the card title and make up the bulk of the
                                        card's content.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                        <div class="card-body">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                        </div>
                </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        <div class="col-sm">
                <div class="card" style="width: 20rem;">
                        <img src=img/download1.jpeg class="card-img-top" alt=img/download1.jpeg> <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on
                                the card title and make up the bulk of the
                                card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                </div>
        </div>
        </div>
        </div>
        <hr>
</main>